exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(mirt)
import(rmarkdown)
importFrom(flextable, autofit)
importFrom(flextable, bold)
importFrom(flextable, colformat_double)
importFrom(flextable, flextable)
importFrom(flextable, set_flextable_defaults)
importFrom(gridExtra, grid.arrange)
importFrom(knitr, opts_chunk)
importFrom(knitr, knit)
importFrom(knitr, knit_print)
importFrom(lme4, lmer)
importFrom(lme4, VarCorr)
